spring:
  application:
    name: SuAl

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/su_al}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:12345}
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  jackson:
    serialization:
      write-dates-as-timestamps: false

    flyway:
      enabled: true
      locations: classpath:db/migration
      baseline-on-migrate: true

  springdoc:
    api-docs:
      path: /api-docs
      enabled: true
    swagger-ui:
      path: /swagger-ui.html
      enabled: true
      tags-sorter: alpha
      operations-sorter: alpha
    show-actuator: false


cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}

#firebase:
#  credentials:
#    path: ${GOOGLE_APPLICATION_CREDENTIALS}

magnet:
  api:
    base-url: ${MAGNET_API_BASE_URL}

  merchant: ${MAGNET_MERCHANT}
  api-key: ${MAGNET_API_KEY}
  biller: ${MAGNET_BILLER}
  template: ${MAGNET_TEMPLATE}

  callback-url: ${MAGNET_CALLBACK_URL}

  connection-timeout: ${MAGNET_CONNECTION_TIMEOUT}
  read-timeout: ${MAGNET_READ_TIMEOUT}